/* general layout */
* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 50%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
    max-width: 1200px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 360px;
    margin: 10px 20px 20px;
    padding: 10px;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 0.25em;
    border: 1px solid rgba(50, 50, 50, 0.4);
    transition: .4s ease-out;
    overflow: hidden;
}


.avatar {
    border-radius: 50%;
    width: 95px;
    margin: 15px 10px auto 10px;
}

.text-container {
    text-align: left;
    font-size: 0.9em;
    color: rgba(50, 50, 50, 0.7);
    margin: 7px auto;
    transition: .4s ease-out;
}

.name {
    margin: 20px auto 0;
    color: #000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}